@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(62% 0.194 149.214);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(98% 0 0);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(72% 0.219 149.579);
    --color-accent-content: oklch(98% 0.003 247.858);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(98% 0.003 247.858);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(98% 0.003 247.858);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(25.33% 0.016 252.42);
    --color-base-200: oklch(23.26% 0.014 253.1);
    --color-base-300: oklch(21.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(62% 0.194 149.214);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(98% 0 0);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(72% 0.219 149.579);
    --color-accent-content: oklch(98% 0.003 247.858);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(98% 0.003 247.858);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(98% 0.003 247.858);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

[x-cloak] {
    display: none !important;
}
