@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(0.2315 0.1062 265.82);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(98% 0 0);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(72% 0.219 149.579);
    --color-accent-content: oklch(98% 0.003 247.858);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(98% 0.003 247.858);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(98% 0.003 247.858);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(25.33% 0.016 252.42);
    --color-base-200: oklch(23.26% 0.014 253.1);
    --color-base-300: oklch(21.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(0.2315 0.1062 265.82);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(98% 0 0);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(72% 0.219 149.579);
    --color-accent-content: oklch(98% 0.003 247.858);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(98% 0.003 247.858);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(98% 0.003 247.858);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

[x-cloak] {
    display: none !important;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.hidden-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.advanced-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
    scroll-behavior: smooth;
}

.advanced-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.advanced-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.advanced-scrollbar::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
}

.advanced-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

.advanced-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}

.prose .ql-code-block-container {
    color: #fff !important;
    background: #333 !important;
    padding: 12px !important;
    border-radius: 6px !important;
    overflow-x: auto !important;
    margin: 1rem 0 !important;
    white-space: pre-wrap !important;
}

.prose .ql-code-block {
    color: #fff !important;
    background: transparent !important;
    font-family: monospace !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    padding: 0 !important;
    margin: 0 !important;
    white-space: pre-wrap !important;
}

.prose code:not(.ql-code-block) {
    color: #333 !important;
    padding: 1px 2px !important;
    background-color: #f1f1f1 !important;
    padding: 2px 4px !important;
    border-radius: 3px !important;
    font-family: monospace !important;
    font-size: 85% !important;
}

.prose blockquote {
    border-left: 4px solid #ccc !important;
    padding-left: 1rem !important;
    color: #555 !important;
    font-style: normal !important;
}

.prose li[data-list="ordered"] {
    list-style-type: decimal !important;
    list-style-position: inside;
    margin-left: 1.5em; /* space for numbers */
    padding-left: 0;
}

.prose li[data-list="bullet"] {
    list-style-type: disc !important;
    list-style-position: inside;
    margin-left: 1.5em; /* space for bullets */
    padding-left: 0;
}
