name: Deploy via FTP

on:
  push:
    branches:
      - main   # deploy on push to main

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Upload files via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./          
          server-dir: domains/masterseller.shop/public_html/
          git-ftp-args: --insecure --syncroot ./ --force
